<!-- {{ title}} -->

<h1>Home</h1>
<a href="http://localhost:3000/form">Go to form</a>
<!-- {{#if showList}}
  Planner!
  <ul>
    {{#each plannerlist}}
      {{> entry}}
    {{/each}}
  </ul>
  Ok, now you can <a href="/">hide the list</a>.
{{else}}
  <a href="/?showlist=true">Show me the list</a>, please.
{{/if}} -->
